.mainSection{
    position: relative;;
}

.leftsection {
    font-size: 1.5rem;
    font-weight: 50;
    flex-wrap: wrap;
    margin-left: 7rem;
    position: absolute;
    margin-top:-2rem;
    width:600px;
    color: black;
    text-align: left;
}
.purple{
    color:black;
}
#element{
    color: black;
    
}
.orange{
    
    color: black;
}
.typed-cursor {
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
    50% { opacity: 0.0; }
}
.blackBtn {
    position: absolute;
    top: 175px;
    right: 31%;
    padding: 15px 25px;
    width: 150px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }

   .blackBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }

   .blackBtn:hover {
    color: #e8e8e8;
   }
   
   .blackBtn:hover::before {
    width: 100%;
   }