.leftsection {
    font-size: 1.5rem;
    font-weight: 50;
    flex-wrap: wrap;
    margin-left: 7rem;
    position: absolute;
    margin-top:-2rem;
    width:600px;
    color: black;
    text-align: left;
}
.purple{
    color:black;
}
#element{
    color: black;
    
}
.orange{
    
    color: black;
}
.typed-cursor {
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
    50% { opacity: 0.0; }
}

